*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.gradle/
/.idea/
/build/
/framework/build/
/framework/framework.iml
/app/build/
/app/app.iml
.svn
