*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/
/framework/build/
/app/build/
.svn
/.svn/

app/libs/
app/src/main/java/com/thinkeract/tka/common/provider/
app/src/main/java/com/thinkeract/tka/data/db/entity/
app/src/main/java/com/thinkeract/tka/data/entity/
framework/libs/
