<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thinkeract.tka">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>

    <application
        android:name=".ThinkerActApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.login.SplashActivity"
            android:theme="@style/NoBackgroundAndTitleMain">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.login.LoginActivity"
            android:windowSoftInputMode="adjustResize|stateVisible"/>
        <activity android:name=".ui.home.MainActivity" />
        <activity android:name=".ui.login.BindingActivity"/>
        <activity android:name=".ui.mine.IdentityReviewActivity"
            android:windowSoftInputMode="adjustResize|stateVisible"/>
        <activity android:name=".ui.mine.IdentityResultActivity"/>
        <activity android:name=".ui.mall.ShoppingCartActivity"/>
        <activity android:name=".ui.home.NewsDetailActivity"/>
        <activity android:name=".ui.home.OrganListActivity"/>
        <activity android:name=".ui.home.SurroundingsListActivity"/>
        <activity android:name=".ui.home.AllergyListActivity"/>
        <activity android:name=".ui.mine.SettingActivity"/>
        <activity android:name=".ui.mine.AccountSettingActivity"/>
        <activity android:name=".ui.mine.DataEditActivity"/>
        <activity android:name=".ui.mall.MallMainActivity"/>
        <activity android:name=".ui.mall.GoodsDetailActivity"
            android:theme="@style/GoodsDetailTheme"/>
        <activity android:name=".ui.mine.UpdateAddressActivity"/>
        <activity android:name=".ui.mine.ShippingAddressListActivity"/>
        <activity android:name=".ui.mine.MyOrderListActivity"/>
        <activity android:name=".ui.mine.OrderDetailActivity"/>
    </application>

</manifest>